/* .App {
  text-align: center;
} */

.closebtn_div{
  display: flex;
  justify-content: end
  ;
}

.Image{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  height: auto;
  width: 250px;

}

.NavTxt{
  text-align: center;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.bookmark {
  font-size: 25px;
  margin: 10px; 
}

.BsCartPlus{
  font-size: 25px;
  margin: 10px; 
}

.SelectSize {
  margin-bottom: 10px; 
}

.Label {
  margin-top: 10px; 
}


.badge {
    /* display: flex;
    flex: justify-content-end; */
    margin-bottom: 20px;
    /* padding: 11px 10px 10px; */
    text-transform: uppercase;
    /* display: inline-block; */
}

.card-header {
  background-color: transparent;
  border-bottom: transparent;
  margin-bottom: 35px;
  /* display: flex;
  flex: justify-content-end; */
  /* display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0;
  padding: 0; */
}

 /* .card {
  height: 250px;
}  */